/.idea/
*.gem
/ruby/**/*.gem
/ruby/**/*.lock
/ruby/**/node_modules/
/**/.byebug_history
/node_modules/node_modules
/local_gems/
.DS_Store
/yarn.lock
/node_modules/
/ruby/rails-hyperstack/spec/test_app/
